body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-image: url("C:\Users\shive\Downloads\background (2).jpg"); /* Update the path to your background image */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden; 
}


.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.App {
  width: 95%;
  max-width: 800px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 20px auto; /* Center the container horizontally and add some margin at the top */
}

.left-section,
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section {
  margin-right: 20px;
}

.right-section {
  margin-left: 20px;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #1120bf;
  animation: fadeInDown 1s ease-in-out, textShadowMove 5s alternate infinite;
}


.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  margin-top: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.tooltip-arrow {
  position: absolute;
  z-index: 2;
  display: none;
  border: solid transparent;
  border-width: 6px;
}

.tooltip-container:hover .tooltip,
.tooltip-container:hover .tooltip-arrow {
  display: block;
}

.tooltip.top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 12px;
}

.tooltip.top .tooltip-arrow {
  bottom: -12px;
  border-top-color: rgba(51, 51, 51, 0.9);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .left-section,
  .right-section {
    align-items: center;
    margin: 10px 0;
  }
}