/* Tooltip.css */

.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    animation: fade-in 0.2.5s ease-in-out;
  }
  
  .tooltip-arrow {
    position: absolute;
    border-width: 5px;
    border-style: solid;
  }
  
  .tooltip.top {
    transform: translateX(-50%);
    bottom: 100%;
    left: 50%;
    margin-bottom: 10px;
  }
  
  .tooltip.top .tooltip-arrow {
    bottom: -5px;
    left: 50%;
    margin-left: 0px;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
  }
  
  .tooltip.right {
    transform: translateY(-50%);
    top: 50%;
    left: 100%;
    margin-left: 10px;
  }
  
  .tooltip.right .tooltip-arrow {
    top: 50%;
    left: -5px;
    margin-top: -5px;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
  }
  
  .tooltip.bottom {
    transform: translateX(-50%);
    top: 100%;
    left: 50%;
    margin-top: 10px;
  }
  
  .tooltip.bottom .tooltip-arrow {
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  }
  
  .tooltip.left {
    transform: translateY(-50%);
    top: 50%;
    right: 100%;
    margin-right: 10px;
  }
  
  .tooltip.left .tooltip-arrow {
    top: 50%;
    right: -5px;
    margin-top: -5px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
  }
  
  .tooltip-options {
    background-color: #e6d1e2;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .target-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .target-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #2410b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .target-button.selected {
    background-color: #e74c3c;
  }
  
  .target-button:hover {
    background-color: #a1919d;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }